<!DOCTYPE html>
<html>
<head>
    <title>User Comparison</title>
    <!-- Add Bootstrap CSS link here (you can include Bootstrap from a CDN or your local source) -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Repository Comparison</h1>
        <div class="row mt-4">
            <div class="col">
                <h3>{{ content1.username1 }} Details</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Repository name</th>
                            <td>{{ content1.Name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ content1.Description }}</td>
                        </tr>
                        <tr>
                            <th>Star Count</th>
                            <td>{{ content1['Star Count'] }}</td>
                        </tr>
                        <tr>
                            <th>Fork Count</th>
                            <td>{{ content1['Fork Count'] }}</td>
                        </tr>
                        <tr>
                            <th>Language</th>
                            <td>{{ content1.Language }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>{{ content2.username2 }} Details</h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Repository name</th>
                            <td>{{ content2.Name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ content2.Description }}</td>
                        </tr>
                        <tr>
                            <th>Star Count</th>
                            <td>{{ content2['Star Count'] }}</td>
                        </tr>
                        <tr>
                            <th>Fork Count</th>
                            <td>{{ content2['Fork Count'] }}</td>
                        </tr>
                        <tr>
                            <th>Language</th>
                            <td>{{ content2.Language }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and any other scripts you might need here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
