<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>User Details</h1>
        <div class="row mt-3">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Name:</strong> {{ dict['Name'] }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ dict['Email'] }}</li>
                    <li class="list-group-item"><strong>Public Repos:</strong> {{ dict['Public Repos'] }}</li>
                    <li class="list-group-item"><strong>Location:</strong> {{ dict['Location'] }}</li>
                    <li class="list-group-item"><strong>Bio:</strong> {{ dict['Bio'] }}</li>
                    <li class="list-group-item"><strong>User Type:</strong> {{ dict['User Type'] }}</li>
                    <li class="list-group-item"><strong>GitHub Profile Link:</strong> <a href="{{ dict['GitHub Profile Link'] }}">{{ dict['GitHub Profile Link'] }}</a></li>
                    <li class="list-group-item"><strong>Followers:</strong> {{ dict['Followers'] }}</li>
                    <li class="list-group-item"><strong>Following:</strong> {{ dict['Following'] }}</li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
